# API Keys for LLM services
OPENAI_API_KEY=s...
GEMINI_API_KEY=
NVIDIA_API_KEY=

TEMPERATURE = 1.0
MAX_TOKENS = 512

# Set to: OPENAI, GEMINI, OPENAI-CLASSES, GEMINI-CLASSES, NVIDIA, NVIDIA-CLASSES
AI_LLM=NVIDIA-CLASSES

# Logging configuration: OFF, ERROR, WARN, INFO, DEBUG, TRACE
LOG_LEVEL=ERROR
